//==>IMPORTING:
@import "../../styles/vars"

div.toToBtnCont
  position: fixed
  bottom: 4rem
  right: 2rem
  z-index: 9999
  button
    border-radius: 2rem
    padding: 0
    width: 3rem
    height: 5rem
    display: none
    justify-content: center
    align-items: center
    background: $altColor
    border: none
    color: $altGrey
    cursor: pointer
    opacity: 0.8
    animation: bulsTopLeft linear 0.5s
    outline: 0
    span.toTopIcon
      font-size: 2.3rem
      transform: rotate(135deg)
      display: block
      margin-left: 0.2rem
      margin-top: 0.4rem

// to top button animation
@keyframes bulsTopLeft
  0%
    transform: scale(1) rotate(0)
  50%
    transform: scale(1.2) rotate(360deg)
  100%
    transform: scale(1) rotate(360deg)
