@import '../../styles/vars'

section.filteredRecipes
  margin-top: 2rem
  border-radius: 0.6rem
  animation: fadecontainer linear 0.2
  ul.founded
    min-height: 15rem
small.moreThan3Char
  color: $primaryColor
section.noMatches
  margin-top: 1rem
  text-align: center
  color: $altColor

@keyframes fadecontainer
  0%
    opacity: 0
  100%
    opacity: 1
