//==>FONTS:
@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@300;400;500;600;700&family=Quicksand:wght@300;400;700&display=swap')

//==> IMPORTING:
// vars
@import './vars.sass'

//==> GLOBAL STYLES:
*
  margin: 0
  padding: 0
  box-sizing: border-box
  &::selection
    background: $mainBlack
    color: $mainGrey

body
  font-family: $primaryFont
  color: $mainBlack
  background: $mainWhite
  line-height: 1.4
  font-size: 1rem
  font-weight: 500

h1,
h2,
h3,
h4,
h5,
h6
  font-family: $slabHeadingFont
  margin-bottom: 1.25rem

p
  margin-bottom: 1.25rem

ul
  list-style-type: none

a
  text-decoration: none
  color: $mainBlack

img
  width: 100%
  display: block




//==> CLASSES TO HELP:
// .container
//   width: $fullWidth
