@import "./vars"

@mixin heroBtn
  color: $altBlack
  border: 2px solid $altColor
  padding: 1rem 2rem
  border-radius: 3rem
  font-weight: bolder
  background: none
  &:hover
    background: $altColor
    color: $offWhite
    transition: $mainTransition
