// @FONTS:
$slabHeadingFont: 'Hepta Slab', serif
$italicFont: 'Sansita Swashed', cursive

// @COLORS:
$primaryColor: #948b56
$primaryDarkColor: #635d3b
$primaryTrans: #81794c8e
$altColor: #80c29d
$altDarkColor: #497a5f
$altTrans: #497a5f77
$extraTrans: #b7fad5
$mainWhite: #fff
$offWhite: #f7f7f7
$mainBackground: #ececec
$mainBlack: #323341
$altBlack: #5b5c6b
$mainGrey: #ececec
$altGrey: #ddd
$darkGrey: #afafaf
$altDarkGrey: #6d6d6d

// @UTILTIES:
$mainTransition: all ease-in-out 0.3s
$mainSpacing: 0.3rem
$lightShadow: 2px 6px 20px 0px rgba(0, 0, 0, 0.2)
$darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5)
$mainBorderRadius: 0.25rem
$maxWidth: 40rem
$smallWidth: 85vw
$fullWidth: 1170px
