// @FONTS:
$slabHeadingFont: 'PT Sans', sans-serif
$italicFont: 'Lobster Two', cursive
$heroFont: 'Hepta Slab', serif

// @COLORS:
$primaryColor: #c79872
$primaryDarkColor: #947256
$primaryTrans: #c798727c
$altColor: #c97777
$altDarkColor: #a35f5f
$altTrans: #7a494977
$extraTrans: #fab7b7
$mainWhite: #fff
$trabsWhite: #fff8
$altTrabsWhite: #fff7
$altraTrabsWhite: #fff5
$offWhite: #f7f7f7
$mainBackground: #ececec
$mainBlack: #323341
$altBlack: #5b5c6b
$mainGrey: #ececec
$yellowGray: #fffbef
$altGrey: #ddd
$darkGrey: #afafaf
$altDarkGrey: #6d6d6d
$alert: #e2d06b
$alertBorder: #b8a643
$alertColor: #7c6d1a

// @UTILTIES:
$mainTransition: all ease-in-out 0.3s
$altTransition: all ease-in-out 0.2s
$mainSpacing: 0.3rem
$altSpacing: 0.1rem
$lightShadow: 2px 6px 20px 0px rgba(0, 0, 0, 0.2)
$darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5)
$mainBorderRadius: 0.25rem
$maxWidth: 40rem
$smallWidth: 85vw
$fullWidth: 1170px
