//==>IMPORTING:
@import "../../styles/vars"
@import "../../styles/mixins"

.recipesPage
.recipesPageHeader
  margin-top: 2rem
  border-radius: 1rem
  padding: 3rem 2rem
  background: url("../../assets/body-cover.svg") center/cover
  h2
    font-weight: bolder
    font-family: $italicFont
    color: $mainBlack
    text-transform: uppercase
    text-align: center
    letter-spacing: $mainSpacing
    word-spacing: 1rem
.recipesPageWrapper
  margin-top: 5rem
  aside.recipesFilter
    padding: 2rem 1rem
  section.recipesContainer
    padding: 2rem 1rem
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: repeat(3, 20rem 20rem 15rem)
    min-height: 100vh
    grid-gap: 1.5rem
 