//==>IMPORTING:
@import "../../../styles/vars"

section.companyFounders
  margin-top: 70px
  h4.foundersHeading
  .companyFoundersContainer
    .card
      margin-top: 30px
      margin-bottom: 30px
      .card-img
      .card-body
        padding-bottom: 0.7rem
      .card-text
        color: $altDarkGrey
        margin-top: 20px
      ul.socialMediaList
        margin: 0
        display: flex
        justify-content: space-around
        align-items: center
        li
          width: 26px
          height: 26px
          background: $altGrey
          text-align: center
          padding: 0
          border-radius: 50%
          a
            color: $primaryColor
