//==>IMPORTING:
@import "../../styles/vars"

// header
nav.header
  height: 4rem
  display: flex
  justify-content: space-around
  background-color: $mainWhite

  .appLogo
    height: 80px
    text-align: center
    img
      height: 100%
      display: block

  ul.navList
    margin: 0
    display: flex
    width: 60%
    justify-content: flex-start
    align-items: center
    &:last-child
      width: 50%
      justify-content: center
    li.navRoute
      margin: 10px
      a
        color: $primaryColor
        text-decoration: none

  ul.userRoutes
    margin: 0
    li.navRoute
      &:last-child
        position: relative
        span.cartIcon
          font-size: 23px
          position: relative
          span.numberFlag
            background: $altColor
            border: 2px solid $mainWhite
            color: $mainWhite
            position: absolute
            top: -10px
            left: 16px
            display: block
            text-align: center
            font-size: 15px
            border-radius: 50%
            width: 24px
            height: 24px
            justify-content: center
            display: flex
            align-items: center
