//==>IMPORTING:
@import "../../styles/vars"

// header
nav.header
  height: 5rem
  display: flex
  justify-content: space-around
  background-color: $yellowGray
  padding: 0 1rem

  .appLogo
    height: 70px
    text-align: center
    img
      width: 90%
      height: 100%
      display: block

  ul.navList
    margin: 0
    display: flex
    width: 60%
    justify-content: flex-start
    align-items: center
    &:last-child
      width: 50%
      justify-content: center
    li.navRoute
      margin: 10px
      a
        color: $primaryColor
        text-decoration: none

  ul.navRoutes
    margin: 0
    li.navRoute
      &:nth-last-child(2)
        a
          background: $altColor
          margin: 10px
          min-height: 2rem
          min-width: 5rem
          display: flex
          align-items: center
          justify-content: center
          border-radius: 2rem
          text-decoration: none
          color: $offWhite
          transition: $altTransition
          &:hover
            background: $altDarkColor

      &:last-child
        position: relative
        span.cartIcon
          font-size: 23px
          position: relative
          span.numberFlag
            background: $altColor
            border: 2px solid $mainWhite
            color: $mainWhite
            position: absolute
            top: -10px
            left: 16px
            display: block
            text-align: center
            font-size: 12px
            border-radius: 50%
            width: 1.5rem
            height: 1.5rem
            text-align: center
            display: flex
            align-items: center
            justify-content: center
